tr
  td(bgcolor="#ffebeb", align="center", style="padding: 0px 10px 0px 10px;")
    <!--[if (gte mso 9)|(IE)]>
    <table align="center" border="0" cellspacing="0" cellpadding="0" width="600">
    <tr>
    <td align="center" valign="top" width="600">
    <![endif]-->
      table(border="0", cellpadding="0", cellspacing="0", width="100%", style="max-width: 600px;")
        //-NAVIGATION
        tr
          td(bgcolor="#ffebeb", align="left", style="padding: 30px 30px 30px 30px; color: #666666; font-family: 'Lato', Helvetica, Arial, sans-serif; font-size: 14px; font-weight: 400; line-height: 18px;")
            p(style="margin: 0;")
              a(href="http://litmus.com", target="_blank", style="color: #111111; font-weight: 700;") Dashboard
              |
              | -
              |
              a(href="http://litmus.com", target="_blank", style="color: #111111; font-weight: 700;") Billing
              |
              | -
              |
              a(href="http://litmus.com", target="_blank", style="color: #111111; font-weight: 700;") Help
        //-UNSUBSCRIBE
        if unsubscribe
          tr
            td(bgcolor="#ffebeb", align="left", style="padding: 0px 30px 30px 30px; color: #666666; font-family: 'Lato', Helvetica, Arial, sans-serif; font-size: 14px; font-weight: 400; line-height: 18px;")
              p(style="margin: 0;") If these emails get annoying, please feel free to 
                a(href="http://litmus.com", target="_blank", style="color: #111111; font-weight: 700;") unsubscribe
        //-ADDRESS
        tr
          td(bgcolor="#ffebeb", align="left", style="padding: 0px 30px 30px 30px; color: #666666; font-family: 'Lato', Helvetica, Arial, sans-serif; font-size: 14px; font-weight: 400; line-height: 18px;")
            p(style="margin: 0;") #{address}
    <!--[if (gte mso 9)|(IE)]>
    </td>
    </tr>
    </table>
    <![endif]-->
