tr
  td(bgcolor="#ffebeb", align="center", style="padding: 30px 10px 0px 10px;")
    <!--[if (gte mso 9)|(IE)]>
    <table align="center" border="0" cellspacing="0" cellpadding="0" width="600">
    <tr>
    <td align="center" valign="top" width="600">
    <![endif]-->
    table(border="0", cellpadding="0", cellspacing="0", width="100%", style="max-width: 600px;")
      //-HEADLINE
      tr
        td(bgcolor="#37ff70", align="center", style="padding: 30px 30px 30px 30px; border-radius: 4px 4px 4px 4px; color: #666666; font-family: 'Lato', Helvetica, Arial, sans-serif; font-size: 18px; font-weight: 400; line-height: 25px;")
          h2(style="font-size: 20px; font-weight: 400; color: #111111; margin: 0;")   Need more help?
            p(style="margin: 0;")
              a(href="http://litmus.com", target="_blank", style="color: #B20000;") We&rsquo;re here, ready to talk
    <!--[if (gte mso 9)|(IE)]>
    </td>
    </tr>
    </table>
    <![endif]-->

