<template>
  <v-card dark color="primary">
    <v-list two-line>
        <v-subheader>Words</v-subheader>
        <v-list-tile v-for="word in words.data" :key="word._id" @click="navigate(word._id)">
            <v-list-tile-content>
              <v-list-tile-title>{{ word.text }}
              </v-list-tile-title>
              <v-list-tile-sub-title>{{ word._id }}</v-list-tile-sub-title>
            </v-list-tile-content>
            <!-- <router-link :to="{ name: 'word', params: {id:word._id} }">{{ word.text }}</router-link> -->
        </v-list-tile>
    </v-list>
  </v-card>
</template>
<script>
const app = require('config/feathersapp');
  import { mapGetters,mapActions  } from 'vuex'
    async function wordlist() {
        const words = await app.service('words').find();
        return words
    }
  export default {
    data: () => ({
      // words: null
    }),
    props: {
      source: String
    },
    created() {
      // this.getStatus();
      this.findWords({
        query: {
          $sort: {createdAt: -1},
          $limit: 25
        }
      })
    },
    computed: {
      ...mapGetters('words', {
        findWordsInStore: 'find'
      }),
      words () {
        return this.findWordsInStore({query: { $sort: {createdAt: 1} }})
      }
    },
    methods: {
      ...mapActions('words', {
        findWords: 'find'
      }),
      getStatus() {
        // wordlist().then((val)=>{
        //   this.words = val.data;
        // });
        // this.$store.dispatch('words/find', {})
      },
      navigate (id) {
            this.$router.push({name: 'word', params: {id}})
        }
    },
  }
</script>
