<template>
  <v-container grid-list-md>

  </v-container>
</template>
<script>
  import {mapActions} from 'vuex'
  export default {
    methods: {
      ...mapActions('toolbar', ['setExtComponent'])
    },
    created() {
      this.setExtComponent('wordtoolbar')
    },
    beforeRouteLeave(to, from, next) {
      this.setExtComponent(null)
      next()
    }
  }
</script>
