<template>
    
    
          <v-text-field
            label="Box"
            outline
            height="20"
            single-line
            clearable
            append-outer-icon="message"
            @click:append-outer="sendMessage"
            v-model="word"
          ></v-text-field>
        
  
</template>
<script>
import { mapActions  } from 'vuex'
export default {
    data: ()=>({
        word:null
    }),
    methods: {
         ...mapActions('words', {
            createWord: 'create'
        }),
        sendMessage () {
            this.createWord({text: this.word}).then((word)=>{
                console.log(word)
                this.word = null
            })
        },
    }
}
</script>

