<template>
    <v-container grid-list-md>
        <v-layout row wrap align-center justify-center mb-5 >
          <v-toolbar dense>
            <v-text-field hide-details prepend-icon="search" single-line height=32 v-model="regexstring"></v-text-field>
            <v-spacer></v-spacer>
            <v-btn-toggle class="transparent" v-model="pagination_size" mandatory v-if="!paginationdisabled">
              <v-btn v-for="size in pagination_sizes" :key="size" :value="size">
                {{size}}
              </v-btn> 
            </v-btn-toggle>
            <v-divider class="mx-2" vertical></v-divider>
            <v-btn-toggle class="transparent" v-model="view_type" mandatory>
              <v-btn v-for="view in view_types" :key="view" :value="view" flat>
                <v-icon>{{view}}</v-icon>
              </v-btn>
            </v-btn-toggle>
            <v-divider class="mx-2" vertical></v-divider>
            <v-dialog v-model="settings" width="500">
              <v-btn slot="activator" flat icon>
                <v-icon>settings</v-icon>
              </v-btn>
              <v-card>
                <v-card-title class="headline" primary-title>Settings</v-card-title>
                <v-card-text>
                  <h3 class="subheading">Pagination</h3>
                  <v-switch label="Disable pagination" v-model="paginationdisabled"></v-switch>
                  <v-divider></v-divider>
                  <h3 class="subheading">Filter</h3>
                  <v-switch label="Show all" v-model="showall"></v-switch>
                  
                </v-card-text>
                <v-slide-y-transition>
                  <v-card-text v-show="!showall">
                    <h3 class="subheading">Show only</h3>
                    <v-switch label="Nouns" v-model="filters" value="noun"></v-switch>
                    <v-switch label="Verbs" v-model="filters" value="verb"></v-switch>
                    <v-switch label="adjective" v-model="filters" value="adjective"></v-switch>
                    <v-switch label="adverb" v-model="filters" value="adverb"></v-switch>
                  </v-card-text>
                </v-slide-y-transition>

                <v-divider></v-divider>

                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="primary" flat @click="settings = false">
                    Apply
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-toolbar>
        </v-layout>
        <v-layout v-if="initialload" row wrap align-center justify-center>
          <v-flex v-for="word in words.data" :key="word._id" xs12 sm6 md3>
            <v-card>
              <v-img class="white--text" height="200px" src="https://cdn.vuetifyjs.com/images/cards/docks.jpg">
                <v-container fluid>
                  <v-layout>
                    <v-flex>
                      <span class="headline dhivehi">{{word.text}}</span>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-img>
              <v-layout row wrap align-center justify-center>
                <v-flex>   
                  <div class="text-sm-left">
                    <!-- <span class="grey--text">User: {{getUser(word.userId)}}</span><br> -->
                    <!-- <v-container grid-list-md> -->
                    <v-layout row wrap align-center justify-center>
                      <v-flex xs12 sm6 md4>
                        Views: 30,000
                      </v-flex>
                      <v-flex xs12 sm6 md4>
                        Votes: 18,0000
                      </v-flex>
                      <v-flex xs12 sm6 md4>
                        Meanings: 5
                      </v-flex>
                      <v-flex xs12 sm6 md4>
                        Views: 30,000
                      </v-flex>
                      <v-flex xs12 sm6 md4>
                        Votes: 18,0000
                      </v-flex>
                      <v-flex xs12 sm6 md4>
                        Meanings: 5
                      </v-flex>
                    </v-layout>
                  <!-- </v-container>     -->
                    <span><b>Created: </b>{{word.createdAt}}</span><br>
                    <span><b>Updated: </b>{{word.updatedAt}}</span>
                  </div>
                </v-flex>
                <v-card-actions>
                  <v-chip color="primary">
                    <v-avatar><v-icon>remove_red_eye</v-icon></v-avatar>
                  </v-chip>
                  <v-spacer></v-spacer>
                  <v-btn flat color="orange">Explore</v-btn>
                </v-card-actions>
              </v-layout>
            </v-card>
          </v-flex>    
        </v-layout>
        <v-layout v-if="totalpages&&!paginationdisabled">
          <v-flex>
            <v-pagination :length="totalpages" circle v-model="page"></v-pagination>
          </v-flex>
        </v-layout>
        <infinite-loading @infinite="infiniteHandler" v-if="pagination_size<=storeLength&&paginationdisabled"></infinite-loading>
    </v-container>
</template>
<script>
const app = require('config/feathersapp');
  import { mapGetters,mapActions, mapState  } from 'vuex'
  import InfiniteLoading from 'vue-infinite-loading';
    
  export default {
    data: () => ({
      page: 1,
      pagination_sizes: [5,10,20],
      pagination_size: 0,
      view_types: ['view_module', 'view_list', 'view_carousel'],
      view_type: 'view_module',
      regexstring: '',
      initialload: false,
      wordlist: [],
      storeLength: 0,
      serverLimit: 0,
      paginationdisabled: false,
      settings: false,
      filters: ['noun', 'verb', 'adjective', 'adverb'],
      showall: true
    }),
    props: {
      source: String
    },
    created() {
      if (!this.paginationdisabled) {
        this.pagination_size = 5
        this.findWords({
          query: {
            $sort: {createdAt: -1},
            $limit: this.serverLimit+=this.pagination_size,
            $skip: (this.page-1)*this.pagination_size,
          }
        }).then((words)=>{
          // console.log(words)
          this.storeLength = words.total
          this.initialload = true
        })
      }
    },
    computed: {
      ...mapGetters('words', {
        findWordsInStore: 'find'
      }),
      ...mapGetters('users', {
        findUsersInStore: 'find'
      }),
      ...mapState('words', ['pagination']),
      words () {
        if (!this.paginationdisabled) {
          this.findWords({
            query: {
              $sort: {createdAt: -1},
              $limit: this.serverLimit+=this.pagination_size,
              $skip: (this.page-1)*this.pagination_size,
            }
          }).then((words)=>{
            this.storeLength = words.total
            console.log(words)
          })
        }
        return this.findWordsInStore({
          query: { 
            $sort: {createdAt: 1}, 
            $limit: this.pagination_size,
            $skip: (this.paginationdisabled)?0:(this.page-1)*this.pagination_size,
            text: {
              $regex: new RegExp(this.regexstring, 'u')
            }
          }
        })
      },
      totalpages() {
        if(!this.pagination.default) {
          return false
        }
        return Math.ceil(this.storeLength/this.pagination_size)
      },
    },
    methods: {
      ...mapActions('words', {
        findWords: 'find'
      }),
      ...mapActions('users', {
        getOnefromServer: 'get'
      }),
      getStatus() {
        
      },
      navigate (id) {
        this.$router.push({name: 'word', params: {id}})
      },
      getUser(_id) {
        // check if user in store
        var user = this.findUsersInStore({
          query: {
            _id
          }
        })
        if (user.data.length > 0) {
          return user.data[0]
        } else {
          // if no user details in store
          return this.getOnefromServer(_id).then((user)=>{
            return user
          }).catch((err)=>{
            return {_id:"unknown", email:"unknown"}
          })
        }
        
      },
      infiniteHandler($state) {
        // console.log('hit')
        this.pagination_size += 5
        
        if (this.pagination_size >= this.serverLimit) {
           console.log('loading from server', this.pagination_size, this.storeLength)
          //check if all words from store is added and if so, get words from server
          var skip = this.serverLimit
          this.serverLimit+=15

          this.findWords({
            query: {
              $sort: {createdAt: -1},
              $skip: skip,
              $limit: this.serverLimit
            }
          }).then((words)=>{
            this.storeLength = words.total
            this.initialload = true
            $state.loaded()
          })
        } else {
          //if not add words from store
          console.log('loading from store', this.pagination_size, this.storeLength)
          $state.loaded()
          
        }
      },
    },
    components: {
      InfiniteLoading,
    }
  }
</script>
<style>
.dhivehi {
  font-family: 'Faruma' !important
}
</style>
