<template>
<div>
    
        {{ word }}
   
</div>
</template>
<script>
const app = require('config/feathersapp');
  import { mapGetters,mapActions  } from 'vuex'
    // async function wordlist(id) {
    //     const word = await app.service('words').get(id);
    //     return word
    // }
  export default {
    data: () => ({
      // word: null
    }),
    props: {
      id: null,
    },
    created() {
      // this.getStatus();
      this.getWord(this.id);
    },
    computed: {
      ...mapGetters('words', {
        getWordInStore: 'get'
      }),
      word() {
        return this.getWordInStore(this.id)
      }
    },
    methods: {
      ...mapActions('words', {
        getWord: 'get',
      }),
      // getStatus() {
      //   wordlist(this.id).then((val)=>{
      //     this.word = val;
      //   });
      // },
    },
  }
</script>
