<template>
 <v-container>
   <v-layout row wrap v-if="user">
    <v-flex>
      <template v-if="!edit.username">
        Username: {{user.username}}<a @click="editfield('username')">edit</a>
      </template>
      <template v-else>
        <v-text-field 
          v-model="usernameVal"
          label="Username"
          height="30"
          single-line
          v-validate="'required|alpha_num|length:6,15|unique:username'"
          :error-messages="errors.collect('username')"
          data-vv-name="username"
          :disabled="loading"
          data-vv-delay="800"
        >
          {{user.username}}
        </v-text-field>      
      </template>
    </v-flex> 
   </v-layout>
 </v-container> 
</template>
<script>
import unique from 'mixins/unique.js'
import authuser from 'mixins/authuser'
export default {
  mixins: [unique,authuser],
  data() {
    return {
      usernameVal:null,
      loading: false,
      edit: {
        username: false,
        email:false
      }
    }
  },
  methods: {
    editfield(field) {
      if (field=='username') {
        this.edit.username = true
        this.edit.email=false
      }
    }
  }
}

</script>
