<template>
    <v-form :value="valid">
        <v-text-field
            v-model="email"
            label="E-mail"
            height="30"
            single-line
            v-validate="'required'"
            :error-messages="errors.collect('email')"
            data-vv-name="email"
            :disabled="loading"
        ></v-text-field>
        <v-text-field
            v-model="password"
            :append-icon="show1 ? 'visibility_off' : 'visibility'"
            :type="show1 ? 'text' : 'password'"
            name="password"
            label="Password"
            @click:append="show1 = !show1"
            height="30"
            single-line
            v-validate="'required'"
            :error-messages="errors.collect('password')"
            data-vv-name="password"
            :disabled="loading"
        ></v-text-field>
        <v-alert dismissible v-model="alert" :type="alertType">
          {{alertMessage}}
        </v-alert>
        <v-btn
            @click="login"
            :disabled="!this.valid || this.loading"
          color="primary"
            >
            {{buttontext}}
        </v-btn>
        <v-btn
          @click="navigate('register')"
          :disabled="this.loading"
          color="secondary"
          >
          Register
        </v-btn>
        <div><a @click="navigate('reset')">Forgot password?</a></div>
    </v-form>
</template>
<script>
  import { mapActions  } from 'vuex'
  import navigate from 'mixins/navigate.js'

  export default {
    mixins: [navigate],
    data () {
      return {
        show1: false,
        password: null,
        email: null,
        loading: false,
        buttontext: "Login",
        alert: false,
        alertType: "success",
        alertMessage: ""
      }
    },
    computed: {
      valid() {
        if(this.password && this.email) {
          return true
        }
        return false
      }
    },
    methods: {
        ...mapActions('auth', ['authenticate']),
        login() {
          this.loading = true
          this.buttontext = "Please wait..."
            this.authenticate({
                strategy: "local",
                email: this.email,
                password: this.password
            }).then((user)=>{
              console.log(user)
                this.buttontext="Success"
                this.alert=true
                this.alertMessage="Redirecting to profile page, please wait"
                this.navigate('profile')
            }).catch((err)=>{
              console.log(err)
              this.buttontext="Login"
              this.loading=false
              this.alert=true
              this.alertType="error"
              this.alertMessage = err.message
            })
        }
    }
  }
</script>
