<template>
  <v-tabs-items v-model="tabs">
      <v-tab-item v-for="(tab,i) in profileTabs" :key="i" :value="tab">
        <component v-bind:is="tabs"></component>
      </v-tab-item>
    </v-tabs-items>
</template>
<script>
  import {mapActions, mapState} from 'vuex'
  import navigate from 'mixins/navigate.js'
  import authuser from 'mixins/authuser.js'
  import Wall from 'components/account/Wall.vue'
  import Avatar from 'components/account/Avatar.vue'
  import Account from 'components/account/Account.vue'
  import Preferences from 'components/account/Preferences.vue'

  export default {
    
    mixins: [navigate, authuser],
    computed: {
    ...mapState('toolbar', ['currentTab']),
    ...mapState('app',['profileTabs']),
      tabs: {
        get() {
          return this.currentTab
        },
        set(value) {
          this.setCurrentTab(value)
        }
      }
    },
    components: {
      'wall': Wall,
      'avatar': Avatar,
      'account': Account,
      'preferences': Preferences
    },

    methods: {
      ...mapActions('toolbar', ['setExtComponent', 'setTabProperty', 'setCurrentTab'])
    },
    created() {
      if (!this.user) {
        this.navigate('login')
      } else {
        this.setExtComponent('profiletoolbar')
        this.setTabProperty(true)

      }
    },
    mounted() {
      
    },
    beforeRouteLeave(to, from, next) {
      this.setExtComponent(null)
      this.setTabProperty(false)
      next()
    }
  }
</script>
