<template>
    <v-form :value="valid">
        <v-text-field
            v-model="user.username"
            label="Username"
            height="30"
            single-line
            v-validate="'required|alpha_num|length:6,15|unique:username'"
            :error-messages="errors.collect('username')"
            data-vv-name="username"
            :disabled="loading"
            data-vv-delay="800"
        ></v-text-field>
        <v-text-field
            v-model="user.email"
            label="E-mail"
            height="30"
            single-line
            v-validate="'required|email|unique:email'"
            :error-messages="errors.collect('email')"
            data-vv-name="email"
            :disabled="loading"
            data-vv-delay="800"
        ></v-text-field>
        <v-text-field
            v-model="user.password"
            :append-icon="show1 ? 'visibility_off' : 'visibility'"
            :type="show1 ? 'text' : 'password'"
            name="password"
            label="Password"
            @click:append="show1 = !show1"
            height="30"
            single-line
            v-validate="passwordRules"
            :error-messages="errors.collect('password')"
            data-vv-name="password"
            :disabled="loading"
            ref="password"
        ></v-text-field>
        <v-text-field
            v-model="user.password_again"
            :append-icon="show2 ? 'visibility_off' : 'visibility'"
            :type="show2 ? 'text' : 'password'"
            name="password_again"
            label="Password again"
            @click:append="show2 = !show2"
            height="30"
            single-line
            v-validate="'required|confirmed:password'"
            :error-messages="errors.collect('password_again')"
            data-vv-name="password_again"
            :disabled="loading"
            data-vv-as="password"
        ></v-text-field>
        <v-checkbox
          label="Agree to the terms and conditions"
          v-model="user.tos"
          type="checkbox"
          v-validate="'required'"
          :error-messages="errors.collect('tos')"
          data-vv-name="tos"
          required
          value="1"
        ></v-checkbox>
        <v-alert dismissible v-model="alert" :type="alertType">
          {{alertMessage}}
        </v-alert>
        
        <v-btn
          @click="register()"
          :disabled="!this.valid || this.loading || this.registered"
          color="primary"
          >
          {{buttontext}}
        </v-btn>
        <v-btn
            @click="navigate('login')"
            :disabled="this.loading"
          color="secondary"
            >
           Login 
        </v-btn>
    </v-form>

</template>
<script>
  import { mapActions, mapGetters  } from 'vuex'
  import {mapFields, Validator} from 'vee-validate'
  import navigate from 'mixins/navigate.js'
  import unique from 'mixins/unique.js'
  
export default {
  mixins: [navigate, unique],
  data() {
    return {
      show1: false,
      show2: false,
      loading: false,
      buttontext: "Register",
      alert: false,
      alertType: "success",
      alertMessage: "",
      registered: false,
      passwordRules: {
        required: true,
        length: [8, 20],
        regex: /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,20}$/
      },
      user: {
        username: null,
        password: null,
        password_again: null,
        email: null,
        tos: null
      }
    }
  },
  methods: {
    ...mapActions('users', ['create','find']),
    ...mapGetters('users', {findlocaluser: 'find'}),
    register() {
      this.loading = true;
      this.create(this.user).then((user)=>{
        this.loading = false
        this.registered = true
        this.alert=true
        this.alertType="success"
        this.alertMessage=`Activation link sent to ${user.email}. Please activate your account`
      }).catch((err)=>{
        this.loading = false;
        this.alert=true
        this.alertType = "error"
        this.alertMessage="Something went wrong please try again"
      })
    }
  },
  computed: {
    ...mapFields(['username', 'email', 'password', 'password_again', 'tos']),
    valid() {
      return this.username.valid && this.email.valid && this.password.valid && this.password_again && this.tos.valid
    }
  },
//mounted() {
//  const isUnique = (value, args) => {
//    var obj = {}
//    if(args[0] == "email"){
//      obj = {email: value}
//    }else {
//      obj = {username: value}
//    }
//    this.loading = true;
//    return this.find({query:obj}).then((user)=>{
//      this.loading = false;
//      if(user.data.length > 0) {
//        return false
//      }
//      return true
//    }).catch((err)=>{
//      this.loading = false;
//      return false
//    })
//  }
//  Validator.extend('unique', {
//    
//    validate: isUnique,
//    getMessage: (field, params, data) => 'Must be unique'
//  })
//}
}
</script>
