<template>
  <v-form :value="valid">
    <v-text-field
      v-model="emailVal"
      label="E-mail"
      height="30"
      single-line
      v-validate="'required|email'"
      :error-messages="errors.collect('email')"
      data-vv-name="email"
      :disabled="loading"
      data-vv-delay="800"
    ></v-text-field>
    <v-alert dismissible v-model="alert" :type="alertType">
      {{alertMessage}}
    </v-alert>
    <v-btn
      @click="reset"
      :disabled="!this.valid || this.loading"
      color="primary"
    >
      {{buttontext}}
    </v-btn>

  </v-form>
</template>
<script>
import {mapFields} from 'vee-validate'
import feathersClient from 'config/feathersapp'

export default {
  data () {
    return {
      emailVal: null,
      loading: false,
      buttontext: "Send reset link",
      alert: false,
      alertType: "success",
      alertMessage: ""
    }
  },
  computed: {
    ...mapFields(['email']),
    valid() {
      if(this.emailVal && this.email.valid) {
        return true
      }
      return false
    }
  },
  methods: {
    reset() {
      this.loading = true
      feathersClient.service('authManagement').timeout = 8000
      feathersClient.service('authManagement').create({action: 'sendResetPwd', value:{email: this.emailVal}}).then(()=>{
        this.loading = false
        this.alert = true
        this.alertType="success"
        this.alertMessage="Password reset link sent. Please check email"
      }).catch((err)=>{
        this.loading = false
        this.alert = true
        this.alertType="error"
        this.alertMessage=err.message
      })
    }
  }
}
</script>
