<template>
  <v-form :value="valid">
    <v-text-field
      v-model="passwordVal"
      :append-icon="show1 ? 'visibility_off' : 'visibility'"
      :type="show1 ? 'text' : 'password'"
      name="password"
      label="Password"
      @click:append="show1 = !show1"
      height="30"
      single-line
      v-validate="passwordRules"
      :error-messages="errors.collect('password')"
      data-vv-name="password"
      :disabled="loading"
      ref="password"
    ></v-text-field>
    <v-text-field
      v-model="password_againVal"
      :append-icon="show2 ? 'visibility_off' : 'visibility'"
      :type="show2 ? 'text' : 'password'"
      name="password_again"
      label="Password again"
      @click:append="show2 = !show2"
      height="30"
      single-line
      v-validate="'required|confirmed:password'"
      :error-messages="errors.collect('password_again')"
      data-vv-name="password_again"
      :disabled="loading"
      data-vv-as="password"
    ></v-text-field>
    <v-alert dismissible v-model="alert" :type="alertType">
      {{alertMessage}}
    </v-alert>
    <v-btn
      @click="verify"
      :disabled="!this.valid || this.loading"
      color="primary"
      v-if="!verifysuccess"
    >
      {{buttontext}}
    </v-btn>
    <v-btn
      @click="navigate('login')"
      v-else
      color="primary"
    >
      Login
    </v-btn>
  </v-form>

</template>
<script>
import {mapFields} from 'vee-validate'
import feathersClient from 'config/feathersapp'
import navigate from 'mixins/navigate.js'

export default {
  mixins: [navigate],
  data(){
    return {
      show1: false,
      show2: false,
      passwordVal: null,
      password_againVal: null,
      loading: false,
      buttontext: "Reset password",
      alert: false,
      alertType: "success",
      alertMessage: "",
      passwordRules: {
        required: true,
        length: [8, 20],
        regex: /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,20}$/
      },
      verifysuccess: false
    }
  },
  props: {
    token: null,
  },
  computed: {
    ...mapFields(['password', 'password_again']),
    valid() {
      if(this.passwordVal && this.password.valid && this.password_againVal && this.password_again.valid) {
        return true
      }
      return false
    }
  },

  methods: {
    verify() {
      this.loading = true
      feathersClient.service('authManagement').create({action: 'resetPwdLong', 
        value: {
          token: this.token,
          password: this.passwordVal
        }
      }).then((val)=>{
        this.verifysuccess=true
        this.alert = true
        this.alertType = "success"
        this.alertMessage = "Password has been reset successfully. Please login using new credentials"
        this.loading = true
      }).catch((err)=>{
        this.alert = true
        this.alertType = "error"
        this.alertMessage = "There was a problem in resetting password, please try again later"
        this.loading = true
      })
    }
  }
}
</script>
