<template>
  <v-form>
     <v-progress-circular
      v-if="loading"
      indeterminate
      color="primary"
    ></v-progress-circular>
    <v-alert
      v-model="alert"
      :type="type"
      :dismissible="dismissible"
    >
    {{alertMsg}}
    </v-alert>
    <v-btn
      @click="navigate('login')"
      color="primary"
      v-if="!loading"
    >
      Login
    </v-btn>
  </v-form>
</template>
<script>
import feathersClient from 'config/feathersapp'
import navigate from 'mixins/navigate.js'

export default {
    mixins: [navigate],
    data: () => ({
      user: null,
      alert: true,
      loading: true,
      dismissible: false,
      type: "info",
      alertMsg: "Verifying email address, please don't close browser."
    }),
    props: {
      token: null,
    },

    created() {
        feathersClient.service('authManagement').create({action: 'verifySignupLong', value: this.token}).then((user)=>{
          this.user=user
          this.loading=false
          this.type = "success"
          this.alertMsg = `${user.email} has been verified successfully. Please proceed to login page`
          
        }).catch((err)=>{
          this.type = "error"
          this.alertMsg = "There was an error, please try again later"
        })
    }
}
</script>

