include ../partials/header.pug
body(style="background-color: #ffebeb; margin: 0 !important; padding: 0 !important;")
  //- HIDDEN PREHEADER TEXT
  div(style="display: none; font-size: 1px; color: #fefefe; line-height: 1px; font-family: 'Lato', Helvetica, Arial, sans-serif; max-height: 0px; max-width: 0px; opacity: 0; overflow: hidden;") We're thrilled to have you here! Get ready to dive into your new account.
  table(border="0", cellpadding="0", cellspacing="0", width="100%")
    //- LOGO
    tr
      td(bgcolor="#B20000", align="center")
        <!--[if (gte mso 9)|(IE)]>
        <table align="center" border="0" cellspacing="0" cellpadding="0" width="600">
        <tr>
        <td align="center" valign="top" width="600">
        <![endif]-->
        table(border="0", cellpadding="0", cellspacing="0", width="100%", style="max-width: 600px;")
          tr
            td(align="center", valign="top", style="padding: 40px 10px 40px 10px;")
              a(href="http://litmus.com", target="_blank")
                img(alt="Logo", src="http://litmuswww.s3.amazonaws.com/community/template-gallery/ceej/logo.png", width="40", height="40", style="display: block; width: 40px; max-width: 40px; min-width: 40px; font-family: 'Lato', Helvetica, Arial, sans-serif; color: #ffffff; font-size: 18px;", border="0")
        <!--[if (gte mso 9)|(IE)]>
        </td>
        </tr>
        </table>
        <![endif]-->
    //- HERO
    tr
      td(bgcolor="#B20000", align="center", style="padding: 0px 10px 0px 10px;")
        <!--[if (gte mso 9)|(IE)]>
        <table align="center" border="0" cellspacing="0" cellpadding="0" width="600">
        <tr>
        <td align="center" valign="top" width="600">
        <![endif]-->
        table(border="0", cellpadding="0", cellspacing="0", width="100%", style="max-width: 600px;")
          tr
            td(bgcolor="#ffffff", align="center", valign="top", style="padding: 40px 20px 20px 20px; border-radius: 4px 4px 0px 0px; color: #111111; font-family: 'Lato', Helvetica, Arial, sans-serif; font-size: 48px; font-weight: 400; letter-spacing: 4px; line-height: 48px;")
              h1(style="font-size: 48px; font-weight: 400; margin: 0;") Welcome #{user.username}!
        <!--[if (gte mso 9)|(IE)]>
        </td>
        </tr>
        </table>
        <![endif]-->
    //-COPY BLOCK
    tr
      td(bgcolor="#ffebeb", align="center", style="padding: 0px 10px 0px 10px;")
        <!--[if (gte mso 9)|(IE)]>
        <table align="center" border="0" cellspacing="0" cellpadding="0" width="600">
        <tr>
        <td align="center" valign="top" width="600">
        <![endif]-->
        table(border="0", cellpadding="0", cellspacing="0", width="100%", style="max-width: 600px;")
          //-COPY
          tr
            td(bgcolor="#ffffff", align="left", style="padding: 20px 30px 40px 30px; color: #666666; font-family: 'Lato', Helvetica, Arial, sans-serif; font-size: 18px; font-weight: 400; line-height: 25px;")
              p(style="margin: 0;") We're excited to have you get started. First, you need to confirm your account. Just press the button below
          //-BULLETPROOF BUTTON
          tr
            td(bgcolor="#ffffff", align="left")
              table(width="100%", border="0", cellspacing="0", cellpadding="0")
                tr
                  td(bgcolor="#ffffff", align="center", style="padding: 20px 30px 60px 30px;")
                    table(border="0", cellspacing="0", cellpadding="0")
                      tr
                        td(align="center", style="border-radius: 3px;", bgcolor="#ff4443")
                          a(href=tokenLink target="_blank" style="font-size: 20px; font-family: Helvetica, Arial, sans-serif; color: #ffffff; text-decoration: none; color: #ffffff; text-decoration: none; padding: 15px 25px; border-radius: 2px; border: 1px solid #ff4443; display: inline-block;") Confirm Account
          //-COPY
          tr
            td(bgcolor="#ffffff", align="left", style="padding: 0px 30px 0px 30px; color: #666666; font-family: 'Lato', Helvetica, Arial, sans-serif; font-size: 18px; font-weight: 400; line-height: 25px;")
              p(style="margin: 0;") If that doesn't work, copy and paste the following link in your browser:
          //-COPY
          tr
            td(bgcolor="#ffffff", align="left", style="padding: 20px 30px 20px 30px; color: #666666; font-family: 'Lato', Helvetica, Arial, sans-serif; font-size: 18px; font-weight: 400; line-height: 25px;")
              p(style="margin: 0;")
                a(href=tokenLink, target="_blank", style="color: #ff4443;") #{tokenLink}
          //-COPY
          tr
            td(bgcolor="#ffffff", align="left", style="padding: 0px 30px 0px 30px; color: #666666; font-family: 'Lato', Helvetica, Arial, sans-serif; font-size: 18px; font-weight: 400; line-height: 25px;")
              p(style="margin: 0;") If you have any questions, just reply to this email—we're always happy to help out.
          //-COPY
          tr
            td(bgcolor="#ffffff", align="left", style="padding: 0px 30px 40px 30px; border-radius: 0px 0px 4px 4px; color: #666666; font-family: 'Lato', Helvetica, Arial, sans-serif; font-size: 18px; font-weight: 400; line-height: 25px;")
              p(style="margin: 0;") Cheers,<br>The Ceej Team
        <!--[if (gte mso 9)|(IE)]>
        </td>
        </tr>
        </table>
        <![endif]-->
    include ../partials/support.pug
    include ../partials/footer.pug
