<template>
  <v-content>
      <v-container grid-list-md text-xs-center>
        <v-layout row wrap>
           <v-flex xs12>
              <v-progress-circular v-if="loading" indeterminate color="primary"></v-progress-circular>
            <router-view v-else ></router-view>
           </v-flex>
        </v-layout>
      </v-container>
    </v-content>
</template>

<script>
  import {mapActions, mapState} from 'vuex'
  export default {
    computed: {
      ...mapState('app', ['loading'])
    },
    methods: {
      ...mapActions('words', ['find']),
      ...mapActions('app', ['setloading'])
    },
    created() {
      this.find().then((words)=>{
        this.setloading(false)
      })
    },
    metaInfo: {
      title: 'App page',
      titleTemplate: '%s - Maana',
      meta: [
        {charset: 'utf-8'},
        {name: 'viewport', content: 'width=device-width, initial-scale=1'},
        {
          property : 'og:title',
          content: 'App page',
          vmid : 'og:title',
          template : chunk => `${chunk} - Maana`
        },{
          vmid: 'description', 
          name:'description', 
          content:'An extensible dictionary for the modern Maldivian'
        }
      ]
    }
  }
</script>
