<template>
    <v-navigation-drawer v-model="open" clipped fixed app>
      <v-list dense>
        <v-list-tile @click="navigate('home')">
          <v-list-tile-action>
            <v-icon>home</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Home</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile @click="navigate('words')">
          <v-list-tile-action>
            <v-icon>dashboard</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Words</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile @click="">
          <v-list-tile-action>
            <v-icon>settings</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Settings</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile v-if="!user" @click="navigate('login')">
          <v-list-tile-action>
            <v-icon>account_circle</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Membership</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
</template>
<script>
import {mapState, mapActions} from 'vuex'
import navigate from 'mixins/navigate.js'
import authuser from 'mixins/authuser.js'
export default {
  mixins: [navigate, authuser], 
  data: () => ({
      drawer: false,
    }),
    props: {
      source: String
    },
  computed: {
    ...mapState('drawer', {drawerOpen: 'open'}),
    open: {
      get () {
        return this.drawerOpen
      },
      set (value) {
        this.toggle(value);
      }
    }
  },
  methods: {
    ...mapActions('drawer', ['toggle'])
  }
}
</script>

