<template>
    <v-app id="app" dark>
        <router-view class="view two" name="drawer"></router-view>
        <router-view class="view three" name="toolbar"></router-view>
        <router-view></router-view>
        <router-view class="view three" name="footer"></router-view>
    </v-app>
</template>
