<template>
    <v-toolbar app fixed clipped-left :extended="extended" :tabs="tabs">
      <v-toolbar-side-icon @click.stop="toggle(true)"></v-toolbar-side-icon>
      <v-toolbar-title>Maana</v-toolbar-title>
      <component :is="currentExtComponent" slot="extension"></component>
    </v-toolbar>
</template>
<script>
import {mapActions, mapState} from 'vuex'
import wordtoolbar from 'components/toolbar/WordToolbar.vue'
import profiletoolbar from 'components/toolbar/ProfileToolbar.vue'

export default {
  data: ()=>{
    return {
    }
  },
  computed: {
    ...mapState('toolbar', ['currentExtComponent', 'tabs']),
    extended() {
      if (this.currentExtComponent) {
        return true
      }
      return this.currentExtComponent
    }
  },
  components:{
    wordtoolbar,
    profiletoolbar
  },
  methods: {
    ...mapActions('drawer', ['toggle'])
  }
}
</script>
