<template>
  <div>
    There are {{list().length}} words in the database
  </div>
</template>
<script>
import {mapActions, mapGetters} from 'vuex'
export default {
  methods: {
    ...mapActions('toolbar', ['setExtComponent']),
    ...mapGetters('words', ['list'])
  },
  created() {
  },
  metaInfo: {
    title: 'Home page',
    meta: [
      {
        property : 'og:title',
        content: 'Home page',
        vmid : 'og:title',
        template : chunk => `${chunk} - Maana`
      },{
        vmid: 'description', 
        name:'description', 
        content:'An extensible dictionary for the modern Maldivian'
      }

    ]
  }
}
</script>
