<template>
  <v-tabs
    v-model="tabs"
    centered
    color="grey darken-4"
    slider-color="yellow"
  >
   
  <v-tab v-for="(tab,i) in profileTabs" :key="i" :href="`#${tab}`">
    {{tab}}
    </v-tab>
  </v-tabs>
</template>
<script>
  import {mapState, mapActions} from "vuex"
export default {

  data: ()=>{
    return {
    }
  },
  computed: {
    ...mapState('toolbar', ['currentTab']),
    ...mapState('app',['profileTabs']),
      tabs: {
        get() {
          return this.currentTab
        },
        set(value) {
          this.setCurrentTab(value)
        }
      }
  },
  methods: {
    ...mapActions('toolbar', ['setCurrentTab'])
  }
}
</script>
