<template>
  <v-text-field hide-details prepend-icon="search" single-line height=32 v-model="regexstring"></v-text-field>
</template>
<script>
export default {
  data:()=>({
    regexstring:'',
  })
}
</script>
